In this notebook we take the approach of randomly undersampling the majority class (0 i.e. happy) to create balanced training data sets.

In [3]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
# We import custom utility functions for data processing and random forest training
from process_data import process, create_submission, drop_columns
from train_forests import trainForests, mean_ensemble

In [5]:
data = pd.read_csv('data/train_saldo.csv')

In [4]:
#process(data)

In [6]:
# New feature counting zero entries
original_features = data.columns[:-1]
data.insert(len(original_features),'SumZeros',(data[original_features] == 0).sum(axis=1))

In [7]:
# New feature describing the number of assets
asset_features = [name for name in data.columns if 'ind' in name]
temp = data[asset_features].sum(axis=1)
data.insert(data.shape[1]-1, 'NumAssets', temp)

In [3]:
# New feature counting mean balance of non zero saldo variables
saldo_features = [name for name in data.columns if 'saldo_v' in name]
temp = data[saldo_features]
temp[temp == 0] = np.nan
temp = np.nanmean(temp, axis=1)
data.insert(data.shape[1]-1, 'MeanBalances', temp)

NameError: name 'data' is not defined

In [8]:
# New feature counting mean balance of non zero saldo variables
saldo_medio_features = [name for name in data.columns if 'saldo_medio' in name]
temp = data[saldo_medio_features]
temp[temp == 0] = np.nan
temp = np.nanmean(temp, axis=1)
data.insert(data.shape[1]-1, 'MeanMeanBalances', temp)

/home/martin/.anaconda3/lib/python3.5/site-packages/numpy/lib/nanfunctions.py:703: RuntimeWarning: Mean of empty slice
  warnings.warn("Mean of empty slice", RuntimeWarning)

In [9]:
data = data.fillna(0)

In [10]:
#drop_columns(data, asset_features+saldo_features+saldo_medio_features)

In [7]:
data.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,num_venta_var44_hace3,num_venta_var44_ult1,num_var45_hace2,num_var45_hace3,num_var45_ult1,num_var45_ult3,var38,SumZeros,NumAssets,TARGET
0,0.000000,0.000000,0.000000,0.000000,0.000000,0,23,0.0,0.0,0.0,...,0,0,0,0,0,0,39205.170000,262,4,0
1,5.344853,5.916563,3.232779,4.090454,5.789128,0,34,0.0,0.0,0.0,...,0,0,0,0,0,0,49278.030000,239,9,0
2,5.223912,5.833154,0.648847,3.403428,5.673626,0,23,0.0,0.0,0.0,...,0,0,0,0,0,0,67333.770000,249,6,0
3,5.294992,5.858761,0.000000,3.879004,5.705782,0,37,0.0,195.0,195.0,...,0,0,27,3,18,48,64007.970000,219,13,0
4,9.218883,9.468189,0.655791,3.403428,9.993840,0,39,0.0,0.0,0.0,...,0,0,0,0,0,0,117310.979016,231,11,0

In [8]:
def feature_importance(n_trees, data):
    rf = RandomForestClassifier(n_trees)
    rf.fit(data.ix[:,:-1], data.ix[:,-1])
    fimp = rf.feature_importances_
    important = {}
    for idx, name in enumerate(data.ix[:,:-1].columns):
        important[name] = fimp[idx]
    return important

In [13]:
# We can use an initial random forest to select important features
if True:
    threshold = 0.01
    rank = feature_importance(500, data)
    print("We have ranked the features as follows:".format(len(selected)))
    flag = 1
    count = 0
    for a in sorted(selected.keys(), key=selected.get)[::-1]:
        aux = selected[a]
        count+= 1
        if aux < threshold and flag:
            flag = 0
            print('---'*5)
            print('There are {} features above {} '.format(count, threshold))
            print('---'*5)
        print(a,'-->',selected[a])

We have ranked the features as follows:
var38 --> 0.384676788967
var15 --> 0.174755697458
mean_saldo_medio_ult3 --> 0.0349544164114
mean_saldo_medio_hace3 --> 0.0295736058921
SumZeros --> 0.0207480309543
mean_saldo_medio_hace2 --> 0.0206811160103
mean_saldo_medio_ult1 --> 0.0206600961194
num_var45_ult3 --> 0.0188494355936
mean_saldo --> 0.0185687931255
num_var45_hace3 --> 0.0156202927445
num_var45_hace2 --> 0.0142572241725
num_var22_ult3 --> 0.0132212321041
num_var45_ult1 --> 0.0108036242197
num_med_var45_ult3 --> 0.0102241993305
-----There are 15 features above 0.01-----
num_var22_hace2 --> 0.00971274607586
num_var22_hace3 --> 0.00957686562
var36 --> 0.00820081785725
num_var22_ult1 --> 0.00730728062059
num_meses_var39_vig_ult3 --> 0.00687222221618
num_med_var22_ult3 --> 0.0053219443016
NumAssets --> 0.0052336787654
num_meses_var5_ult3 --> 0.00512512462368
imp_op_var41_ult1 --> 0.00472699171541
imp_op_var39_ult1 --> 0.00466057233638
imp_op_var39_comer_ult3 --> 0.00445057648392
imp_op_var41_comer_ult3 --> 0.00442021773882
imp_op_var41_efect_ult3 --> 0.00409164524295
imp_op_var39_efect_ult3 --> 0.00404957709278
imp_trans_var37_ult1 --> 0.00401793303269
imp_op_var39_comer_ult1 --> 0.00374507951431
imp_op_var41_comer_ult1 --> 0.00362155354953
num_op_var41_ult3 --> 0.00347508442229
num_op_var39_ult3 --> 0.00345263590402
num_var35 --> 0.00337775287028
num_var4 --> 0.00333164032494
imp_ent_var16_ult1 --> 0.00318529871308
imp_op_var41_efect_ult1 --> 0.00315844375924
imp_op_var39_efect_ult1 --> 0.00310863527529
num_op_var39_comer_ult3 --> 0.00293485038532
num_op_var41_comer_ult3 --> 0.00290648634233
num_var30 --> 0.00289317969148
num_op_var39_hace2 --> 0.0027973389766
imp_var43_emit_ult1 --> 0.00279410204609
num_op_var39_ult1 --> 0.00274619184405
num_op_var41_hace2 --> 0.00270148305721
num_op_var41_ult1 --> 0.0026381219924
num_op_var41_efect_ult3 --> 0.00253898571616
num_op_var39_efect_ult3 --> 0.00248975754135
num_op_var41_comer_ult1 --> 0.00243159972378
num_op_var39_comer_ult1 --> 0.00241981652741
num_var43_recib_ult1 --> 0.00240860467757
num_var42 --> 0.00230568352677
ind_var30 --> 0.0020492145372
var3 --> 0.00202624730911
num_ent_var16_ult1 --> 0.00201921188193
num_var43_emit_ult1 --> 0.00193142981573
num_var5 --> 0.00179345401834
num_op_var39_efect_ult1 --> 0.00177792099948
num_var37_0 --> 0.001766985026
num_op_var41_efect_ult1 --> 0.00174973919796
num_var37_med_ult2 --> 0.00167020903836
num_var41_0 --> 0.00165353827159
num_var37 --> 0.00163126907022
num_var39_0 --> 0.00158255464378
ind_var5 --> 0.00147093310388
ind_var43_recib_ult1 --> 0.00126830759007
num_var8_0 --> 0.00119127469814
num_var5_0 --> 0.00115459147462
num_var30_0 --> 0.00111538801154
ind_var8_0 --> 0.00110090337069
num_var42_0 --> 0.00109096965059
ind_var43_emit_ult1 --> 0.00104848400237
num_meses_var8_ult3 --> 0.000872271824119
ind_var5_0 --> 0.000732536082633
ind_var37_cte --> 0.000724747010168
num_trasp_var11_ult1 --> 0.000716663166529
ind_var37 --> 0.0007050144082
ind_var9_cte_ult1 --> 0.000694960969218
ind_var37_0 --> 0.000688945948929
ind_var41_0 --> 0.000681132504089
ind_var39_0 --> 0.000654582090121
ind_var10cte_ult1 --> 0.000646328927016
ind_var9_ult1 --> 0.000609340029932
num_op_var41_hace3 --> 0.000581306597487
ind_var10_ult1 --> 0.000580096758539
num_op_var39_hace3 --> 0.00057864394622
num_var12_0 --> 0.000514594354949
ind_var12_0 --> 0.000478365009866
num_var26 --> 0.000461109736777
num_var26_0 --> 0.000419914034419
num_var25 --> 0.000417806678723
num_var25_0 --> 0.000400832344491
num_sal_var16_ult1 --> 0.000391730005325
imp_var7_recib_ult1 --> 0.000389435533833
imp_sal_var16_ult1 --> 0.000378691282606
imp_op_var40_efect_ult1 --> 0.000373414096784
var21 --> 0.000371097911432
ind_var26_cte --> 0.000366211324477
num_meses_var12_ult3 --> 0.000364742260174
ind_var24_0 --> 0.000363302685284
ind_var8 --> 0.000340664059
ind_var25_cte --> 0.000336353356093
num_var24_0 --> 0.000335835965171
num_var8 --> 0.000323332605931
num_var14_0 --> 0.000284645436111
num_var7_recib_ult1 --> 0.000276423635482
num_var40_0 --> 0.000273146627163
imp_op_var40_efect_ult3 --> 0.00027103779225
num_var1_0 --> 0.000262695662217
ind_var40_0 --> 0.000261561481682
ind_var7_recib_ult1 --> 0.000247172495293
ind_var14_0 --> 0.000244267351666
ind_var25_0 --> 0.0002354435002
ind_var26 --> 0.000225188316158
ind_var1_0 --> 0.000219113739281
ind_var25 --> 0.000218916400199
ind_var26_0 --> 0.000206791260951
ind_var12 --> 0.000185974002886
num_var13_0 --> 0.000183034175898
num_var12 --> 0.000182340657236
num_op_var40_efect_ult3 --> 0.000182005251418
num_meses_var13_corto_ult3 --> 0.000181773692574
imp_op_var40_ult1 --> 0.000178412846085
num_var13 --> 0.000176947189409
ind_var13_0 --> 0.000168085211487
ind_var13 --> 0.000165974179488
ind_var30_0 --> 0.000164878166564
num_op_var40_comer_ult3 --> 0.000163676069515
imp_op_var40_comer_ult1 --> 0.000155993432798
num_op_var40_efect_ult1 --> 0.000148671311583
ind_var32_cte --> 0.000148616311512
num_op_var40_ult1 --> 0.000145974598803
imp_op_var40_comer_ult3 --> 0.000145608439044
num_var24 --> 0.000142170888421
ind_var24 --> 0.000138918765957
imp_compra_var44_ult1 --> 0.000127753492216
ind_var19 --> 0.000115663874818
imp_aport_var13_ult1 --> 0.000115422312929
ind_var13_corto_0 --> 0.000114314529203
num_op_var40_ult3 --> 0.000112178359326
num_var13_corto_0 --> 0.000108926912055
num_op_var40_comer_ult1 --> 0.000107582202219
num_var14 --> 0.000107125602089
imp_aport_var13_hace3 --> 0.000104918241482
ind_var13_corto --> 0.000100937379623
ind_var14 --> 0.000100512869178
delta_num_aport_var13_1y3 --> 9.93811700213e-05
num_var13_corto --> 9.70402536905e-05
delta_imp_aport_var13_1y3 --> 9.10445685181e-05
ind_var1 --> 8.07629511291e-05
num_reemb_var17_ult1 --> 6.87653281029e-05
ind_var40 --> 6.79292082086e-05
imp_reemb_var17_ult1 --> 6.79176469056e-05
num_var32 --> 6.44349368908e-05
num_var32_0 --> 6.26073431493e-05
ind_var39 --> 6.2207356306e-05
num_var40 --> 6.18764997389e-05
num_var39 --> 6.17226085842e-05
num_var1 --> 6.06677004572e-05
imp_reemb_var13_ult1 --> 5.86987441601e-05
num_var17 --> 5.79641522994e-05
num_var13_largo --> 5.60013309475e-05
num_aport_var13_hace3 --> 5.38056017137e-05
num_aport_var17_ult1 --> 5.32817871417e-05
num_var17_0 --> 5.06149136537e-05
ind_var32 --> 4.96468528759e-05
num_var31_0 --> 4.93582465446e-05
num_op_var40_hace2 --> 4.80961923857e-05
ind_var13_largo --> 4.32037010579e-05
ind_var32_0 --> 4.01629220655e-05
num_aport_var13_ult1 --> 3.85672305016e-05
ind_var17_0 --> 3.75061719428e-05
num_var31 --> 3.74639855976e-05
ind_var13_largo_0 --> 3.66100916754e-05
ind_var17 --> 3.28924247904e-05
ind_var31_0 --> 3.17004892174e-05
num_var13_largo_0 --> 3.05684861578e-05
delta_num_compra_var44_1y3 --> 2.87149682171e-05
delta_imp_compra_var44_1y3 --> 2.77670776588e-05
ind_var20_0 --> 2.71208165893e-05
imp_aport_var17_ult1 --> 2.64802376912e-05
num_meses_var17_ult3 --> 2.61341586399e-05
num_var20_0 --> 2.59026820181e-05
num_compra_var44_ult1 --> 2.32044896811e-05
num_reemb_var13_ult1 --> 2.26111409453e-05
num_meses_var44_ult3 --> 2.11830789098e-05
ind_var44 --> 2.06272419054e-05
ind_var31 --> 1.79674513767e-05
delta_imp_reemb_var13_1y3 --> 1.79205741746e-05
num_meses_var13_largo_ult3 --> 1.59083009675e-05
ind_var44_0 --> 1.37755725207e-05
num_var44 --> 1.36981855234e-05
num_var44_0 --> 1.23994646662e-05
delta_num_reemb_var13_1y3 --> 1.03899074799e-05
num_venta_var44_ult1 --> 8.15582391192e-06
imp_venta_var44_ult1 --> 8.10392181301e-06
delta_imp_reemb_var17_1y3 --> 7.5336316764e-06
ind_var33_0 --> 6.85294897608e-06
delta_imp_venta_var44_1y3 --> 5.26149371739e-06
delta_num_venta_var44_1y3 --> 5.02864000444e-06
delta_num_aport_var17_1y3 --> 3.78876345529e-06
ind_var33 --> 3.39662376069e-06
num_compra_var44_hace3 --> 3.07482357356e-06
num_var33_0 --> 3.03509187498e-06
num_var20 --> 3.00244679264e-06
delta_imp_aport_var17_1y3 --> 2.67681901158e-06
delta_num_reemb_var17_1y3 --> 2.36867844543e-06
num_var33 --> 2.23577817395e-06
ind_var20 --> 2.07266663827e-06
delta_num_aport_var33_1y3 --> 1.74597205499e-06
num_meses_var33_ult3 --> 1.70681705781e-06
imp_amort_var18_ult1 --> 1.49908396827e-06
num_trasp_var17_out_ult1 --> 1.39874248409e-06
num_venta_var44_hace3 --> 1.14089847486e-06
imp_venta_var44_hace3 --> 7.55665799485e-07
num_aport_var17_hace3 --> 6.62817736791e-07
ind_var13_medio --> 6.20657592492e-07
ind_var7_emit_ult1 --> 5.24334123403e-07
num_trasp_var33_in_hace3 --> 5.09935550672e-07
delta_num_trasp_var33_in_1y3 --> 4.92192215029e-07
imp_compra_var44_hace3 --> 4.45879042372e-07
num_aport_var33_hace3 --> 4.14075524767e-07
imp_trasp_var17_in_ult1 --> 4.03958578622e-07
delta_imp_trasp_var33_in_1y3 --> 4.00579149696e-07
ind_var18 --> 3.86809988009e-07
delta_num_trasp_var17_in_1y3 --> 3.85932518258e-07
num_var18 --> 3.75446527458e-07
num_var7_emit_ult1 --> 3.73226504024e-07
imp_var7_emit_ult1 --> 3.72951689481e-07
delta_num_trasp_var17_out_1y3 --> 3.69718651667e-07
imp_trasp_var33_in_hace3 --> 3.55599473177e-07
imp_aport_var33_hace3 --> 2.76180007971e-07
delta_imp_amort_var18_1y3 --> 2.45921153965e-07
num_var29_0 --> 1.95585887998e-07
ind_var6_0 --> 1.7724065443e-07
num_var6_0 --> 1.44549350664e-07
imp_trasp_var17_out_ult1 --> 8.95469487092e-08
delta_num_trasp_var33_out_1y3 --> 3.17063959115e-08
delta_imp_trasp_var17_in_1y3 --> 2.86196592483e-08
num_trasp_var17_in_hace3 --> 2.32849548783e-08
imp_aport_var17_hace3 --> 8.52446625549e-09
ind_var29_0 --> 8.49628656752e-09
delta_imp_aport_var33_1y3 --> 7.0568475238e-09
num_var29 --> 6.64921867334e-09
num_reemb_var17_hace3 --> 4.7367093317e-09
num_var18_0 --> 4.14441998207e-09
num_meses_var29_ult3 --> 3.99151738529e-09
imp_aport_var33_ult1 --> 3.82740361623e-09
delta_imp_trasp_var17_out_1y3 --> 3.04033563657e-09
num_var34 --> 2.22045047357e-09
ind_var13_medio_0 --> 1.13285551954e-09
num_trasp_var17_in_ult1 --> 7.59241222449e-10

### Our intuition is correct as all the created variables are in the top of the importance rank.

In [9]:
train, test = train_test_split(data, test_size = 0.2, random_state = 42)

In [72]:
train.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,num_venta_var44_hace3,num_venta_var44_ult1,num_var45_hace2,num_var45_hace3,num_var45_ult1,num_var45_ult3,var38,SumZeros,NumAssets,TARGET
0,5.224154,5.833154,0.727549,3.403428,5.673626,0,23,0.0,0.0,0.0,...,0,0,0,0,0,0,76041.960000,247,6,0
1,9.252964,9.638293,9.120599,9.617788,9.814150,0,51,0.0,0.0,0.0,...,0,0,9,30,9,48,94024.050000,234,9,0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0,44,0.0,0.0,0.0,...,0,0,0,0,0,0,111306.990000,262,4,0
3,5.244495,5.849711,0.749843,3.577026,5.696852,0,57,0.0,0.0,0.0,...,0,0,6,3,0,9,117310.979016,243,6,0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0,61,0.0,0.0,0.0,...,0,0,0,0,0,0,97021.020000,262,4,0

According to the cross-validation analysis, the best results are obtained with N=4, w=1, N_forest=60, n_trees=300

In [10]:
a = 0.25 # a can also be >1 to also oversample the minority class (1 ie. unhappy)
w = 1
N_forest = 60
n_trees = 300

In [11]:
rfs = trainForests(train, a, w, N_forest, n_trees)

In [12]:
X_test, Y_test = test.ix[:,:-1], test.ix[:,-1]

In [13]:
Y_prob = mean_ensemble(rfs, X_test)

In [14]:
roc_auc_score(Y_test,Y_prob['arithmetic'])

0.83139857787121751

In [15]:
roc_auc_score(Y_test,Y_prob['geometric'])

0.83336689096482208

Using select_features, we cut down to 19 important features and obtained 0.838 and 0.839.

Without using select_features we ended up with .8348 and .8357 :/

## Meta Ensemble

Now we are going to use the random forest classifiers trained above to create a meta predictor.

In [16]:
train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

In [95]:
train.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,num_venta_var44_hace3,num_venta_var44_ult1,num_var45_hace2,num_var45_hace3,num_var45_ult1,num_var45_ult3,var38,SumZeros,NumAssets,TARGET
0,5.224154,5.833154,0.727549,3.403428,5.673626,0,23,0.0,0.0,0.0,...,0,0,0,0,0,0,76041.960000,247,6,0
1,9.252964,9.638293,9.120599,9.617788,9.814150,0,51,0.0,0.0,0.0,...,0,0,9,30,9,48,94024.050000,234,9,0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0,44,0.0,0.0,0.0,...,0,0,0,0,0,0,111306.990000,262,4,0
3,5.244495,5.849711,0.749843,3.577026,5.696852,0,57,0.0,0.0,0.0,...,0,0,6,3,0,9,117310.979016,243,6,0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0,61,0.0,0.0,0.0,...,0,0,0,0,0,0,97021.020000,262,4,0

In [17]:
X_train, Y_train = train.ix[:,:-1], train['TARGET']

In [97]:
X_train.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,num_trasp_var33_out_ult1,num_venta_var44_hace3,num_venta_var44_ult1,num_var45_hace2,num_var45_hace3,num_var45_ult1,num_var45_ult3,var38,SumZeros,NumAssets
0,5.224154,5.833154,0.727549,3.403428,5.673626,0,23,0.0,0.0,0.0,...,0,0,0,0,0,0,0,76041.960000,247,6
1,9.252964,9.638293,9.120599,9.617788,9.814150,0,51,0.0,0.0,0.0,...,0,0,0,9,30,9,48,94024.050000,234,9
2,0.000000,0.000000,0.000000,0.000000,0.000000,0,44,0.0,0.0,0.0,...,0,0,0,0,0,0,0,111306.990000,262,4
3,5.244495,5.849711,0.749843,3.577026,5.696852,0,57,0.0,0.0,0.0,...,0,0,0,6,3,0,9,117310.979016,243,6
4,0.000000,0.000000,0.000000,0.000000,0.000000,0,61,0.0,0.0,0.0,...,0,0,0,0,0,0,0,97021.020000,262,4

In [18]:
for rf in rfs:
    temp = rf.predict(train.ix[:,:-1])
    temp = pd.DataFrame(temp)
    X_train = pd.concat([X_train, temp], axis=1)

In [19]:
train_meta = pd.concat([X_train, train['TARGET']], axis=1)

In [27]:
train_meta.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,0,0,0,0,0,0,0,0,0,TARGET
0,5.224154,5.833154,0.727549,3.403428,5.673626,0,23,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,9.252964,9.638293,9.120599,9.617788,9.814150,0,51,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0,44,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,0
3,5.244495,5.849711,0.749843,3.577026,5.696852,0,57,0.0,0.0,0.0,...,1,0,1,0,1,1,1,1,1,0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0,61,0.0,0.0,0.0,...,1,1,1,1,1,1,1,1,1,0

In [21]:
X_test, Y_test = test.ix[:,:-1], test['TARGET']

In [22]:
for rf in rfs:
    temp = rf.predict(test.ix[:,:-1])
    temp = pd.DataFrame(temp)
    X_test = pd.concat([X_test, temp], axis=1)

In [23]:
Y_test = test['TARGET']

In [24]:
X_test.head()

,mean_saldo_medio_ult3,mean_saldo_medio_ult1,mean_saldo_medio_hace3,mean_saldo_medio_hace2,mean_saldo,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,...,0,0,0,0,0,0,0,0,0,0
0,5.412605,5.986216,1.881499,4.443568,5.951955,0,45,0.0,709.05,1399.17,...,0,0,0,0,0,0,0,0,0,0
1,9.968666,10.099935,9.753035,10.087061,10.278187,0,60,0.0,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,5.252111,5.849711,1.938742,3.577026,5.696852,0,27,0.0,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,5.644089,6.013693,4.473960,5.171466,5.805051,0,38,0.0,269.40,754.05,...,0,1,0,1,0,1,1,1,0,1
4,5.224202,5.833154,0.741937,3.403428,5.673626,0,23,0.0,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0

In [28]:
from sklearn.linear_model import LogisticRegression

In [31]:
# random regularization
cv = {}

In [32]:
for _ in range(20):
    n_trees = np.random.randint(50,300)
    lg = RandomForestClassifier(n_estimators = n_trees)
    lg.fit(X_train, Y_train)
    cv[n_trees] = roc_auc_score(Y_test, lg.predict(X_test))
    print(cv[n_trees], flush=True)

0.526267837978
0.524654645134
0.524757405976
0.525752397273
0.525820904501
0.526336345206
0.52304145229
0.525649636432
0.52571814366
0.527262829276
0.525923665342
0.525444114749
0.525889411728
0.525649636432
0.525581129205
0.525478368363
0.527778269981
0.52571814366
0.524894420431
0.52609656991

In [33]:
for key in sorted(cv.keys(), key=cv.get)[::-1]:
    print(key,cv[key])

75 0.527778269981
227 0.527262829276
137 0.526336345206
209 0.526267837978
65 0.52609656991
229 0.525923665342
199 0.525889411728
177 0.525820904501
283 0.525752397273
231 0.52571814366
121 0.52571814366
217 0.525649636432
225 0.525649636432
109 0.525581129205
205 0.525478368363
158 0.525444114749
299 0.524894420431
127 0.524757405976
69 0.524654645134
97 0.52304145229

### Score analysis

In [ ]:
X_test, Y_test = test.ix[:,:-1], test.ix[:,-1]
n = 100
a = 0.25
w = 1
N_forest = 5
n_trees = 5

In [ ]:
scores = []
for _ in range(n):
    rfs = trainForests(train, a, w, N_forest,n_trees)
    Y_prob = mean_ensemble(rfs, X_test)
    scores.append(roc_auc_score(Y_test,Y_prob))
scores = pd.DataFrame(scores)

In [ ]:
scores.describe()

In [ ]:
plt.title("Distribution of scores")
plt.hist(scores)
plt.show()

In [ ]:
# If desired, transform probabilities into class labels.
def threshold(Y_prob, threshold = 0.5):
    result = []
    for y in Y_prob:
        if y <= threshold:
            result.append(0)
        else:
            result.append(1)
    return result

In [ ]:
# Evaluate class labels
Y_pred = threshold(Y_prob, threshold = 0.5)
_ = eval_classification(test['TARGET'],Y_pred, print_results = True)

In [ ]:
# Plot feature importance
def plot_features(forest):  
    importances = forest.feature_importances_
    std = np.std([tree.feature_importances_ for tree in forest.estimators_], axis=0)
    indices = np.argsort(importances)[::-1]
    n=len(indices)
    # Plot the feature importances of the forest
    plt.figure()
    plt.title("Feature importances")
    plt.bar(range(n), importances[indices],
           color="r", yerr=std[indices], align="center")
    plt.xticks(range(n), indices)
    plt.xlim([-1, n])
    plt.show()

In [ ]:
train.head()

# Create Submission

In [ ]:
# Retrain forest on the whole 'train.csv' data
rfs = trainForests(data, a, w, N_forest, n_trees)

In [ ]:
test = pd.read_csv('data/test.csv')
test_id = test.ix[:,'ID'].values
process(test)

In [ ]:
Y_prob = mean_ensemble(rfs,test)

In [ ]:
create_submission(test_id, Y_prob['geometric'])

## Ensemble RF and XGBOOST

In [ ]:
Y_boost = pd.read_csv('../Kaggle_Santander-master/simplexgbtest.csv')

In [ ]:
Y_boost.head()

In [ ]:
Y_rf = pd.read_csv('submissions/rforest_ensemble2.csv')

In [ ]:
Y_rf.head()

In [ ]:
Y_prob = pd.concat([Y_boost,Y_rf.ix[:,'TARGET']], axis=1, ignore_index=True)

In [ ]:
Y_prob.rename(columns ={0:'ID', 1:'xgb', 2: 'rfe' }, inplace = True)

In [ ]:
# geometric mean ensemble
l = 2 #number of predictors to ensemble
temp = Y_prob.ix[:,1:].product(axis=1)
temp = temp.apply(lambda x: np.power(x, 1./l))
Y_prob['geometric'] = temp

In [ ]:
# arithmetic mean ensemble
l = 2 #number of predictors to ensemble
temp = Y_prob[['xgb', 'rfe']].mean(axis=1)
temp = temp.apply(lambda x: np.power(x, 1./l))
Y_prob['arithmetic'] = temp

In [ ]:
# difference column
temp = Y_prob['xgb'] - Y_prob['rfe']
Y_prob['xgb - rfe'] = temp

In [ ]:
# difference column
temp = Y_prob['geometric'] - Y_prob['arithmetic']
Y_prob['geo - ari'] = temp

In [ ]:
Y_prob.head()

In [ ]:
plt.title('Differences between XGB and RFE')
plt.hist(Y_prob['xgb - rfe'])
plt.show()

In [ ]:
plt.title('Differences between ensembles')
plt.hist(Y_prob['geo - ari'])
plt.show()

In [ ]:
create_submission(test_id, Y_prob['arithmetic'])